// $color-force: #f9b950;
// $color-force: #3ab879;
// $color-force: #e04c41;
$color-force: #3d66be;
$color-blossom: lighten($color-force, 15%);
// $color-blossom: darken($color-force, 15%);
$color-fade: $color-force;

$color-bg: #f5f5f5 !default;
$color-bg-alt: #f0f0f0 !default;

$color-text: #2c2c2c !default;

$dark: false;
@if $dark {
  $color-bg: #2c2c2c;
  $color-bg-alt: #353535;

  $color-text: #dbdbdb;
}

$font-size-base: 1.8rem;

$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
$font-family-heading: $font-family-base;

@import 'main';
